<div class="main-contaier">
  <div clasa="book-container">
    <%= image_tag @book.picture, alt: @book.title %>
    <h1><%= @book.title %></h1>
    <p><%= @book.description %></p>
    <p><%= @book.author %></p>
    <p>Published on <%= @book.release_date.strftime("%b %d, %Y") %> | <%= @book.book_length %> pages</p>
  </div>

  <h2>Add this book to a list:</h2>
  <%= form_with url:book_booklists_path(@book), method: :post do |f| %>
    <%= hidden_field_tag :book_id, @book.id %>
    <%= f.collection_select :list_id, @lists, :id, :title %>
    <%= f.submit "Add to List" %>
  <% end %>

  <h2>Lists containing this book:</h2>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.title, list_path(list) %></li>
    <% end %>
  </ul>

  <div class="review-container">
  <h2>Reviews</h2>
    <% if @reviews.any? %>
      <ul>
        <% @reviews.each do |review| %>
          <li>
            <p><strong>Rating:</strong> <%= review.rating %> / 5</p>
            <strong><%= review.user.username %> <%= review.date.strftime("%b %d, %Y") %></strong>
            <p><%= review.description %></p>

            <% if current_user == review.user %>
              <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash" style="color:rgb(255, 0, 8);"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
</div>

</div>
