<div class="main-container">
  <div class="book-container">
    <div class="book-info">
      <%= image_tag @book.picture, alt: @book.title, class: "book-image" %>
      <div class="book-detailes">
        <% if @book.title.present? %>
          <h3><%= @book.title %></h3>
        <% end %>
        <% if @book.author.present? %>
          <p class="book-author"><%= @book.author %></p>
        <% end %>
        <% if @book.genre.present? %>
          <p class="book-genre"><%= @book.genre %></p>
        <% end %>
        <% if @book.release_date.present? || @book.book_length.present? %>
          <p class="book-meta">
            <% if @book.release_date.present? %>
              <%= @book.release_date.strftime("%b %d, %Y") %>
            <% end %>
            <% if @book.release_date.present? && @book.book_length.present? %>
              |
            <% end %>
            <% if @book.book_length.present? %>
              <%= @book.book_length %> pages
            <% end %>
          </p>
        <% end %>
      </div>
    </div>
    <div class="description-container">
      <div data-controller="read-more" data-read-more-more-text-value="Read more" data-read-more-less-text-value="Read less">
        <% if @book.description.present? %>
          <p class="my-content" data-read-more-target="content"><%= @book.description %></p>
          <button class="read-more-button" data-action="read-more#toggle">Read more</button>
        <% end %>
      </div>
    </div>
  </div>

  <div class="list-general">
    <div class="add-to-list">
      <%= form_with url:book_booklists_path(@book), method: :post do |f| %>
        <%= hidden_field_tag :book_id, @book.id %>
        <%= f.collection_select :list_id, @lists, :id, :title %>
        <%= f.submit "Add to List" %>
      <% end %>
    </div>

    <div data-controller="toggle" class="mt-5">
      <button class="add-new-list-button" data-action="click->toggle#fire">Add New List</button>
      <div data-toggle-target="togglableElement" class="d-none">
        <%= form_with model: List.new, url: lists_path, method: :post do |f| %>
          <%= f.text_field :title, placeholder: "List title", class: "form-control mb-2" %>
          <%= f.text_field :description, placeholder: "Description (optional)", class: "form-control mb-2" %>
          <%= f.submit "Create A New List", class: "btn-submit-new-list" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="review-container">
    <h2>Reviews</h2>
      <% if @reviews.any? %>
        <ul>
          <% @reviews.each do |review| %>
            <li class="user-review">
              <% if review.user.photo.attached? %>
                <%= cl_image_tag review.user.photo.key, class: "profile-picture", alt: "#{review.user.username}'s profile picture", height: 70, width: 70, crop: :fill, style: "border-radius: 50%;" %>
              <% end %>
              <div class="user-reviews">
                <div class="review-content">
                  <p class="username-review"><%= review.user.username %></p>
                  <p>
                    <% review.rating.round.times do %>
                      <i class="fa-solid fa-star" style="color: #FFB900;"></i>
                    <% end %>
                  </p>

                  <p><%= review.date.strftime("%b %d, %Y") %></p>
                </div>
              </div>
            </li>
            <li class="single-user-review">
              <p><%= review.description %></p>
              <% if current_user == review.user %>
                <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-solid fa-trash" style="color: #594A47;"></i>
                <% end %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% else %>
        <p>No reviews yet.</p>
      <% end %>
  </div>

  <div>
    <%= render "reviews/new" %>
  </div>

  <%= link_to request.referer&.include?("query") ? request.referer : root_path, method: :get, class: "back-to-profile-btn" do %>
    <i class="fa-solid fa-arrow-left"></i>
  <% end %>

</div>
