<div class="main-contaier">
  <div clasa="book-container">
    <%= image_tag @book.picture, alt: @book.title %>
    <h1><%= @book.title %></h1>
    <p><%= @book.description %></p>
    <p><%= @book.author %></p>
    <p>Published on <%= @book.release_date.strftime("%b %d, %Y") %> | <%= @book.book_length %> pages</p>
    <%= link_to "View Posts", book_posts_path(@book), class: "btn btn-primary" %>
    <% if @book.description.present? %>
      <p><%= @book.description %></p>
    <% end %>
    <% if @book.author.present? %>
      <p><%= @book.author %></p>
    <% end %>
    <% if @book.release_date.present? || @book.book_length.present? %>
      <p>
        <% if @book.release_date.present? %>
          Published on <%= @book.release_date.strftime("%b %d, %Y") %>
        <% end %>
        <% if @book.release_date.present? && @book.book_length.present? %>
        <% end %>
        <% if @book.book_length.present? %>
          <%= @book.book_length %> pages
        <% end %>
      </p>
    <% end %>
  </div>

  <h2>Add this book to a list:</h2>
  <%= form_with url:book_booklists_path(@book), method: :post do |f| %>
    <%= hidden_field_tag :book_id, @book.id %>
    <%= f.collection_select :list_id, @lists, :id, :title %>
    <%= f.submit "Add to List" %>
  <% end %>

  <h2>Create a New List:</h2>
  <%= form_with model: List.new, url: lists_path, method: :post do |f| %>
    <%= f.text_field :title, placeholder: "List title", class: "form-control mb-2" %>
    <%= f.text_field :description, placeholder: "Description (optional)", class: "form-control mb-2" %>
    <%= f.submit "Create A New List", class: "btn btn-secondary" %>
  <% end %>

  <h2>Lists Containing This Book:</h2>
  <% containing_lists = List.joins(:books).where(books: { id: @book.id }).distinct %>
    <% if containing_lists.any? %>
      <ul>
        <% containing_lists.each do |list| %>
          <li><%= link_to list.title, list_path(list) %></li>
        <% end %>
      </ul>
    <% else %>
    <p>This book has not been added to any lists yet.</p>
  <% end %>
</div>

<div class="review-container">
  <h2>Reviews</h2>
    <% if @reviews.any? %>
      <ul>
        <% @reviews.each do |review| %>
          <li>
            <p><strong>Rating:</strong> <%= review.rating %> / 5</p>
            <strong><%= review.user.username %> <%= review.date.strftime("%b %d, %Y") %></strong>
            <p><%= review.description %></p>

            <% if current_user == review.user %>
              <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash" style="color:rgb(255, 0, 8);"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
</div>

<div>
  <%= render "reviews/new" %>
</div>
