<div class="one-post-container">

   <h2>Reply</h2>
   <%= simple_form_for [post, Reply.new] do |f| %>
      <%= f.input :content %>
      <%= f.submit "Reply" %>
    <% end %>

    <h3>All Replies</h3>
    <ul>
      <% post.replies.each do |reply| %>
        <li><%= reply.user.username %> - <%= reply.content %></li>
          <%= link_to post_reply_path(post, reply), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash" style="color:rgb(255, 0, 8);"></i>
          <% end %>
      <% end %>
    </ul>

</div>
