<div class="one-post-container">

    <h3>Replies</h3>
    <ul>
      <% post.replies.each do |reply| %>
        <li><strong><%= post.user.username %></strong></li>
        <li><%= reply.content %></li>
          <%= link_to post_reply_path(post, reply), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash" style="color:rgb(255, 0, 8);"></i>
          <% end %>
      <% end %>
    </ul>

   <h3>Reply</h3>
    <%= simple_form_for [post, Reply.new] do |f| %>
      <%= f.input :content %>
      <%= f.submit "Reply" %>
    <% end %>
</div>
