<div class="posts-container">
  <div class="post-book-container">
    <%= image_tag @book.picture, alt: @book.title %>
    <h1><%= @book.title %></h1>
    <p><%= @book.description %></p>
    <p><%= @book.author %></p>
    <p>Published on <%= @book.release_date.strftime("%b %d, %Y") %> | <%= @book.book_length %> pages</p>
  </div>


  <h1>All Posts</h1>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <strong><%= post.user.username %></strong>
        <p><%= post.content %></p>
        <% if current_user == post.user %>
          <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
            <i class="fa-solid fa-trash" style="color:rgb(255, 0, 8);"></i>
          <% end %>
        <% end %>
        <%= link_to 'Create Post', new_book_post_path(@book), class: 'btn btn-primary' %>
      </li>

      <div><%= render "posts/show", post:post %></div>

    <% end %>
  </ul>

</div>
