<div class="posts-container">
  <div class="post-book-container">
    <%= image_tag @book.picture, alt: @book.title, class: "book-image"%>
    <h1 class="book-title"><%= @book.title %></h1>
    <%= link_to new_book_post_path(@book), class: "post-icon-button" do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>


  <div class="post-item">
   <h1>Posts</h1>
    <ul>
      <% @posts.each do |post| %>
        <li>
          <strong><%= post.user.username %></strong>
          <p><%= post.content %></p>
          <% if current_user == post.user %>
            <%= link_to post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "delete-post" do %>
              <i class="fa-solid fa-trash" style="color:#99BC85;"></i>
            <% end %>
          <% end %>
          <%= link_to edit_book_post_path(@book, post), class: "edit-btn" do %>
          <i class="fa-solid fa-pen" style="color:#99BC85";></i>
          <% end %>
        </li>

        <div><%= render "posts/show", post:post %></div>

      <% end %>
    </ul>
  </div>

</div>
