<div class="review-container">
  <h2>Reviews</h2>
    <% if @reviews.any? %>
      <ul>
        <% @reviews.each do |review| %>
          <li>
            <p><strong>Rating:</strong> <%= review.rating %> / 5</p>
            <strong><%= review.user.username %> <%= review.date.strftime("%b %d, %Y") %></strong>
            <p><%= review.description %></p>

            <% if current_user == review.user %>
              <%= link_to review_path(review), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                <i class="fa-solid fa-trash" style="color:rgb(255, 0, 8);"></i>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No reviews yet.</p>
    <% end %>
</div>
